<footer class="admin-footer">
  <div class="container-fluid text-center">
    <p class="mb-0">© 2025 MehzMen. All rights reserved.</p>
  </div>
</footer>
<link rel="stylesheet" href="/css/admin/adminfooter.css">